/node_modules
/dist_32
/dist_64
/outfolder/logs/*.log
/outfolder/app.pid
dist_32
dist_64
node_modules
package-lock.json
/reso/outfolder/logs/logs.log
/reso/outfolder/logs/error.log
/reso/outfolder/config
/reso/outfolder/app.pid
reso/outfolder/logs/logs.log
reso/outfolder/logs/error.log
reso/outfolder/config
reso/outfolder/app.pid
outfolder/config/db.db

/public
/backend
public
backend