* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-display: block;
}

html,
body {
  -webkit-text-size-adjust: 100%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: Gotham;
  src: url("/libs/fonts/Gotham/Gotham-Black.otf");
}

@font-face {
  font-family: Sacred;
  src: url("/libs/fonts/Sacred/Sacred Crowns.otf");
}

@font-face {
  font-family: Made;
  src: url("/libs/fonts/Made/MADESoulmazeBrushPERSONALUSE.otf");
}

@font-face {
  font-family: calibri;
  src: url("/libs/fonts/Gotham/Gotham-Black.otf");
}

@font-face {
  font-family: digital;
  src: url("/libs/fonts/digital/digital-mono_italic.ttf");
}

@font-face {
  font-family: compos;
  src: url("/libs/fonts/compostela/QUANTU1H.TTF");
}


.mainkioskcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .timer {
    position: absolute;
    top: 1%;
    right: 15%;
    height: 5%;
    width: 20%;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #04039e;
    font-family: "Segoe UI", sans-serif;

    .date {
      font-family: Gotham;
      font-size: 2.5rem;
    }

    .time {
      font-family: digital;
      font-size: 3rem;
      // text-shadow: 2px 2px 5px rgb(255, 255, 255);
      font-weight: bold;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    background-image: url("/images/bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    background-image: url("/images/banner.png");
    background-size: auto 100%;
    background-position: left center;
    background-repeat: no-repeat;
    // background-color: #08228d;
    box-shadow: 0px 4px 8px rgb(0, 0, 0);
    z-index: 1;


    .companyLogo {
      position: absolute;
      display: flex;
      top: 0%;
      right: 1%;
      width: 20%;
      height: 50%;
      background-color: transparent;
      background-image: url("/images/company.png");
      background-repeat: no-repeat;
      background-size: auto 50%;
      background-position: center right;
      align-items: center;
      text-indent: 80px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      z-index: 100;
    }
  }

  .scanQr {
    position: absolute;
    bottom: 10%;
    left: 0%;
    z-index: 100;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: "Segoe UI", sans-serif;
    text-shadow: 2px 2px 5px rgb(36, 3, 185);
    font-size: 2rem;
    font-weight: bold;
    background-color: orangered;
    padding: 0.5% 1%;
    border-top-right-radius: 16px;
  }

  .servicesContainer {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    .category-container {
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      display: flex;
      z-index: 10;
      justify-content: space-evenly;
      align-items: center;

      div {
        position: relative;
        height: 50%;
        width: 30%;
        font-size: 4rem;
        font-family: gorilla, sans-serif;
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        box-shadow: 0px 0px 18px rgb(0, 0, 0);
        cursor: pointer;

        &:active {
          transform: scale(0.95);
          box-shadow: 0px 0px 8px rgb(255, 255, 255);
        }

        &:nth-child(1) {
          // background-color: rgb(144, 153, 19);
          background-image: url("/images/buttons/button_regular.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          color: #e9e1e1;
          text-shadow: 2px 2px 5px black;
        }

        &:nth-child(2) {
          // background-color: rgba(28, 133, 16, 0.993);
          background-image: url("/images/buttons/button_priority.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          color: #000000;
        }
      }

    }

    .service-container {
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      #regularServices,
      #priorityServices {
        position: absolute;
        top: 0;
        height: 90%;
        width: 100%;
        display: none;
        text-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 1%;

        .back-btn {
          position: absolute;
          bottom: -11%;
          right: 0.5%;
          z-index: 1;
          height: 11%;
          width: 20%;
          border: none;
          font-size: 3rem;
          border-radius: 16px;
          box-shadow: 2px 2px 5px rgb(0, 0, 0);

          &:active {
            transform: scale(0.95);
            box-shadow: 0px 0px 8px rgb(255, 255, 255);
          }
        }

        .back-btn-reg {
          text-shadow: 2px 2px 5px black;
        }


        button {
          position: relative;
          width: 30%;
          height: auto;
          padding: 2%;
          font-size: 1.5vw;
          font-family: gorilla, sans-serif;
          font-weight: 900;
          display: flex;
          border: none;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          text-wrap: wrap;
          color: #e9e1e1;
          border-radius: 16px;
          box-shadow: 0px 0px 18px rgb(0, 0, 0);
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.5);
          background-position: center center;

          &:active {
            transform: scale(0.95);
            box-shadow: 0px 0px 8px rgb(255, 255, 255);
          }

          &.locked {
            filter: brightness(70%);
          }
        }

        &:nth-child(1) {
          button {
            // background-color: rgb(144, 153, 19);
            background-image: url("/images/buttons/button_regular.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            text-shadow: 2px 2px 5px black;
          }


        }

        &:nth-child(2) {
          button {
            // background-color: rgba(28, 133, 16, 0.993);
            background-image: url("/images/buttons/button_priority.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            color: #000000;
          }
        }
      }

    }
  }

  .footercont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b227cad;
    letter-spacing: 4px;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    text-shadow: 4px 4px 8px rgb(0, 0, 0);
  }
}