* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-display: block;
}

html,
body {
  -webkit-text-size-adjust: 100%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: Gotham;
  src: url("/libs/fonts/Gotham/Gotham-Black.otf");
}
@font-face {
  font-family: Sacred;
  src: url("/libs/fonts/Sacred/Sacred Crowns.otf");
}
@font-face {
  font-family: Made;
  src: url("/libs/fonts/Made/MADESoulmazeBrushPERSONALUSE.otf");
}
@font-face {
  font-family: calibri;
  src: url("/libs/fonts/Gotham/Gotham-Black.otf");
}
@font-face {
  font-family: digital;
  src: url("/libs/fonts/digital/digital-mono_italic.ttf");
}
@font-face {
  font-family: compos;
  src: url("/libs/fonts/compostela/QUANTU1H.TTF");
}
.mainkioskcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.mainkioskcontainer .timer {
  position: absolute;
  top: 5%;
  right: 0;
  height: 5%;
  width: 40%;
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: "Segoe UI", sans-serif;
}
.mainkioskcontainer .timer .date {
  font-family: Gotham;
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.mainkioskcontainer .timer .time {
  font-family: digital;
  font-size: 3rem;
  text-shadow: 2px 2px 5px rgb(36, 3, 185);
  font-weight: bold;
}
.mainkioskcontainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  background-image: url("/images/bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mainkioskcontainer .mobilemain {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.432);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 100;
  flex-direction: column;
}
.mainkioskcontainer .mobilemain .mobilecontent {
  position: relative;
  height: 75%;
  width: 80%;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.13);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  filter: brightness(100%);
}
.mainkioskcontainer .mobilemain .mobilecontent div {
  position: absolute;
  display: flex;
}
.mainkioskcontainer .mobilemain .mobilecontent div:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}
.mainkioskcontainer .mobilemain .mobilecontent div:nth-child(1) p {
  position: relative;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: start;
  text-indent: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: wrap;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mainkioskcontainer .mobilemain .mobilecontent div:nth-child(2) {
  height: 90%;
  width: 50%;
  top: 10%;
  left: 0;
  overflow: hidden;
  flex-direction: column;
}
.mainkioskcontainer .mobilemain .mobilecontent div:nth-child(2) .DataPrivacy {
  position: absolute;
  top: 0;
  left: 5%;
  height: 80%;
  width: 90%;
  color: black;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  border: groove rgba(255, 255, 255, 0.849) 15px;
  overflow-y: auto;
  background-color: rgb(122, 121, 106);
  font-size: 0.9rem;
  text-wrap: wrap;
  text-align: center;
  font-weight: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scrollbar-width: thin;
}
.mainkioskcontainer .mobilemain .mobilecontent div:nth-child(2) .butoncanceldiv {
  position: absolute;
  top: 82.5%;
  left: 5%;
  height: 15%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.mainkioskcontainer .mobilemain .mobilecontent div:nth-child(2) .butoncanceldiv button {
  position: relative;
  width: 40%;
  height: 80%;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
  border: none;
}
.mainkioskcontainer .mobilemain .mobilecontent div:nth-child(2) .butoncanceldiv button:active {
  filter: brightness(120%);
  transform: scale(0.9);
}
.mainkioskcontainer .mobilemain .mobilecontent div:nth-child(2) .butoncanceldiv button:nth-child(1) {
  color: white;
  font-size: 1rem;
  background-color: rgb(38, 83, 8);
}
.mainkioskcontainer .mobilemain .mobilecontent div:nth-child(2) .butoncanceldiv button:nth-child(2) {
  color: white;
  font-size: 1rem;
  background-color: rgb(131, 81, 17);
}
.mainkioskcontainer .mobilemain .mobilecontent div:nth-child(3) {
  height: 90%;
  width: 50%;
  top: 10%;
  left: 50%;
  overflow: hidden;
  flex-direction: column;
}
.mainkioskcontainer .mobilemain .mobilecontent div:nth-child(3) .mobilenodisplay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100;
  height: 15%;
  overflow: hidden;
  color: white;
}
.mainkioskcontainer .mobilemain .mobilecontent div:nth-child(3) .mobilenodisplay input {
  position: relative;
  height: 90%;
  width: 70%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3.5rem;
  font-style: italic;
  color: white;
  border: none;
  background-color: transparent;
}
.mainkioskcontainer .mobilemain .mobilecontent div:nth-child(3) .mobiledialer {
  position: absolute;
  top: 15%;
  left: 0%;
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mainkioskcontainer .mobilemain .mobilecontent div:nth-child(3) .mobiledialer .dialerrow {
  position: relative;
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainkioskcontainer .mobilemain .mobilecontent div:nth-child(3) .mobiledialer .dialerrow button {
  position: relative;
  height: 100%;
  width: 33%;
  border: none;
  padding: 0;
  color: white;
  margin: 0;
  background-color: transparent;
  font-size: 3rem;
  border-radius: 16px;
  transform: scale(0.9);
  box-shadow: 0px 0px 5px rgb(247, 247, 247);
}
.mainkioskcontainer .mobilemain .mobilecontent div:nth-child(3) .mobiledialer .dialerrow button:active {
  transform: scale(0.8);
}
.mainkioskcontainer .header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  background-image: url("/images/banner.png");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: aquamarine;
}
.mainkioskcontainer .header-container .companyLogo {
  position: absolute;
  display: flex;
  top: 0%;
  right: 1%;
  width: 20%;
  height: 50%;
  background-color: transparent;
  background-image: url("/images/company.png");
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: center right;
  align-items: center;
  text-indent: 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 100;
}
.mainkioskcontainer .servicesContainer {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainkioskcontainer .servicesContainer .category-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 10;
  justify-content: space-evenly;
  align-items: center;
}
.mainkioskcontainer .servicesContainer .category-container div {
  position: relative;
  height: 50%;
  width: 30%;
  font-size: 4rem;
  font-family: gorilla, sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e9e1e1;
  text-shadow: 2px 2px 5px black;
  border-radius: 16px;
  box-shadow: 0px 0px 18px rgb(0, 0, 0);
  cursor: pointer;
}
.mainkioskcontainer .servicesContainer .category-container div:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 8px rgb(255, 255, 255);
}
.mainkioskcontainer .servicesContainer .category-container div:nth-child(1) {
  background-image: url("/images/buttons/button_regular.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.mainkioskcontainer .servicesContainer .category-container div:nth-child(2) {
  background-image: url("/images/buttons/button_priority.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.mainkioskcontainer .servicesContainer .service-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.mainkioskcontainer .servicesContainer .service-container #regularServices, .mainkioskcontainer .servicesContainer .service-container #priorityServices {
  position: absolute;
  top: 0;
  height: 90%;
  width: 100%;
  display: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1%;
}
.mainkioskcontainer .servicesContainer .service-container #regularServices .back-btn, .mainkioskcontainer .servicesContainer .service-container #priorityServices .back-btn {
  position: absolute;
  bottom: -11%;
  right: 0.5%;
  z-index: 1;
  height: 11%;
  width: 20%;
  border: none;
  font-size: 3rem;
  text-shadow: 2px 2px 5px black;
  border-radius: 16px;
  box-shadow: 0px 0px 18px rgb(255, 255, 255);
}
.mainkioskcontainer .servicesContainer .service-container #regularServices .back-btn:active, .mainkioskcontainer .servicesContainer .service-container #priorityServices .back-btn:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 8px rgb(255, 255, 255);
}
.mainkioskcontainer .servicesContainer .service-container #regularServices div, .mainkioskcontainer .servicesContainer .service-container #priorityServices div {
  position: relative;
  width: 30%;
  height: 30%;
  font-size: 2.5rem;
  font-family: gorilla, sans-serif;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #e9e1e1;
  text-shadow: 2px 2px 5px black;
  border-radius: 16px;
  box-shadow: 0px 0px 18px rgb(0, 0, 0);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}
.mainkioskcontainer .servicesContainer .service-container #regularServices div:active, .mainkioskcontainer .servicesContainer .service-container #priorityServices div:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 8px rgb(255, 255, 255);
}
.mainkioskcontainer .servicesContainer .service-container #regularServices:nth-child(1) div, .mainkioskcontainer .servicesContainer .service-container #priorityServices:nth-child(1) div {
  background-image: url("/images/buttons/button_regular.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.mainkioskcontainer .servicesContainer .service-container #regularServices:nth-child(2) div, .mainkioskcontainer .servicesContainer .service-container #priorityServices:nth-child(2) div {
  color: black;
  background-image: url("/images/buttons/button_priority.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.mainkioskcontainer .footercont {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(235, 252, 0, 0.432);
  font-size: 4rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  text-shadow: 4px 4px 8px rgb(0, 0, 0);
}/*# sourceMappingURL=kiosk.css.map */